.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color 0.2s;
  border: 1px solid #ddd;
  cursor: pointer;
}
.pag-btn:hover {
  background-color: rgb(199, 199, 199) !important;
}
.pagination-container a.active {
  background-color: #639387;
  color: white;
}

.pagination-container a.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.pagination-container a:hover:not(.active) {
  background-color: rgb(238, 238, 238);
}
