.progress-days {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(191, 191, 191, 0.476);
  background-color: white;
  font-size: 20px;
}

.current-day {
  color: rgba(67, 129, 167, 0.877);
  font-size: 25px;
}

.end-day {
  color: rgba(7, 126, 1, 0.476);
  font-size: 18px;
}

.days {
  font-size: 12px;
  color: rgba(105, 105, 105, 0.476);
}

.item-goal {
  background-color: white;
}

.delete-goal {
  color: rgba(218, 85, 85, 0.808);
  font-size: 14px;
}

.delete-goal:hover {
  color: rgba(245, 43, 43, 0.808);
  cursor: pointer;
}

/* .completed-goal {
  background-color: rgb(207, 74, 34);
}

.fullycompleted-goal {
  background-color: rgba(0, 128, 0, 0.452);
} */
/* .icon-goal {
  font-size: 25px;
  color: grey;
} */

.icon-goal-completed {
  color: rgb(61, 165, 35);
  font-size: 25px;
}

.icon-goal-done {
  color: rgba(179, 34, 34, 0.863);
  font-size: 25px;
}

.icon-goal-active {
  color: rgb(44, 208, 230);
  font-size: 25px;
}
