.progress-days {
  height: 50px;
  width: 50px;
  border: 1px solid rgba(191, 191, 191, 0.476);
  background-color: white;
  font-size: 20px;
}

.current-day {
  color: rgba(67, 129, 167, 0.877);
  font-size: 25px;
}

.end-day {
  color: rgba(7, 126, 1, 0.476);
  font-size: 18px;
}

.days {
  font-size: 12px;
  color: rgba(105, 105, 105, 0.476);
}

.item-goal {
  background-color: white;
}

.delete-goal {
  color: rgba(218, 85, 85, 0.808);
  font-size: 14px;
}

.delete-goal:hover {
  color: rgba(245, 43, 43, 0.808);
  cursor: pointer;
}
