.btn-flat {
  background-color: rgb(255, 255, 255);
  color: rgb(64, 64, 64);
  text-align: left !important;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.btn-flat.active {
  /* background-color: rgb(76, 117, 198); */
  background-color: #639387;
  color: rgb(255, 255, 255);
}

.btn-flat:hover {
  /* background-color: rgb(62, 93, 154); */
  background-color: #5c7d75;
  color: rgb(213, 213, 213);
}

.avatar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 992px) {
  .btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
  }

  .dropdown-menu {
    min-width: 180px;
  }
}

#upload-photo {
  position: absolute;
  z-index: -10;
  left: 0;
}

.btn-upload {
  cursor: pointer;
  font-size: 15px;
}

.btn-upload:hover {
  color: black !important;
}
