.bg-dark .dropdown-menu {
  background: transparent;
  height: 100%;
}

.dropdown-menu {
  top: 100%;
  left: -40%;
  transform: translate(-50%, 0);
  min-width: 220px;
}

.nav-link {
  font-size: 1rem;
}
