.text-centered {
  text-align: center;
}

.btn-mini {
  height: 15px;
  width: 30px;
}

.full-width {
  width: 100%;
}
.no-bg {
  background: none;
}

.side-bar-mobile {
  margin-top: -30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.side-bar-mobile > * {
  font-size: 30px !important;
  cursor: pointer;
  margin-bottom: 10px;
  transition: transform 0.2s linear, color 0.2s linear;
}

.side-bar-mobile > *:hover {
  color: rgb(123, 123, 123);
  transform: scale(1.2);
}

.fas {
  font-size: 20px;
}
