:root {
  --landing-font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgb(95, 95, 95);
}

::-webkit-scrollbar-track-piece {
  background: rgb(182, 182, 182);
}

.hover-row:hover {
  background: rgb(212, 212, 212);
  color: rgb(43, 43, 43);
}

.hero-block {
  width: 100%;
  height: 900px;
  background: no-repeat url("./assets/landingBg.svg");
  background-size: cover;
  background-position: center;
  padding: 4vw;
}

.hero-block h1 {
  font-size: calc(var(--landing-font-size) * 5.5);
  font-weight: 500;
}

.hero-block p {
  padding: var(--landing-font-size);
  font-size: calc(var(--landing-font-size) * 2.2);
}

.hero-block span {
  padding: var(--landing-font-size);
  font-size: calc(var(--landing-font-size) * 2.2);
}

.cardImage {
  width: calc(var(--landing-font-size) * 25);
}

.styledCard {
  max-width: calc(var(--landing-font-size) * 25);
  height: calc(var(--landing-font-size) * 25);
  margin: 0;
  border: none;
  font-size: calc(var(--landing-font-size) * 1.4);
}

.card-title {
  height: calc(var(--landing-font-size) * 3);
}

.card-title h2 {
  font-size: calc(var(--landing-font-size) * 2);
}

.footer {
  background: rgb(224, 224, 219);
  font-size: calc(var(--landing-font-size) * 1.4);
}

@media only screen and (max-width: 800px) {
  :root {
    --landing-font-size: 2vw;
  }

  .card-title {
    height: calc(var(--landing-font-size) / 2);
  }

  .logo {
    max-width: 300px;
  }

  .footer-logo {
    width: calc(var(--landing-font-size) * 24);
  }

  .footer-icon {
    width: calc(var(--landing-font-size) * 7);
  }

  .cardImage {
    width: calc(var(--landing-font-size) * 20);
  }

  .hero-block {
    height: 600px;
  }

  .card {
    max-width: calc(var(--landing-font-size) * 50);
  }
}
